<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="aidooo.spydo.com.project1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Spydo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity android:name=".commonForApp.TicketActivity"></activity>
        <activity android:name=".commonForApp.InformationActivity" />
        <activity android:name=".commonForApp.CancelActivity" />
        <activity android:name=".commonForApp.HistoryActivity" />
        <activity android:name=".commonForApp.PurchaseActivity_2nd" />
        <activity android:name=".commonForApp.PurchaseActivity" />
        <activity android:name=".commonForApp.Main_home" />
        <activity android:name=".Common.LoginSignUp.SetNewPassword" />
        <activity android:name=".Common.LoginSignUp.MakeSelectionForgetPass" />
        <activity android:name=".Common.LoginSignUp.ForgetPassword" />
        <activity android:name=".Common.LoginSignUp.Verify_OTP" />
        <activity android:name=".Common.LoginSignUp.SignUp3rdPage" />
        <activity android:name=".Common.LoginSignUp.SignUp2ndPage" />
        <activity android:name=".Common.LoginSignUp.Registration" />
        <activity android:name=".Common.LoginSignUp.LoginSignUp" />
        <activity android:name=".commonForApp.Getting_started" />
        <activity android:name=".Common.LoginSignUp.Login" />
        <activity android:name=".commonForApp.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>